.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  margin-top: 2.5rem;
}

button {
  display: flex;
  font-size: 15px;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  

  .image-icon {
    width: 36px;
    height: 36px;
    background-color: #000000;
    border-radius: 6px;
    padding: 4px;
  }
}
