.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$menuItems: 5;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #02419a;
  padding: 5px 40px;
  transition:
    all 0.5s ease-out,
    background 1s ease-out;
  transition-delay: 0.2s;

  #logo {
    font-family: "Imperial Script", cursive;
    font-size: 50px;
    color: #fff;
  }

  .burger-container {
    display: none;
  }

  ul.menu {
    display: none;
  }

  .nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;

    ul {
      list-style: none;
    }
  }

  a { 
    font-size: 30px;
    color: rgb(227, 226, 226);
    transition: color 0.3 ease;
  }

  a:hover{ 
    color: #fff;
  }
}

.nav-spacer {
  display: block;
  height: 24px;
}

@media (max-width: 768px) {
  .fixed-nav {
    position: fixed;
  }

  .navbar {
    display: block;
    position: relative;
    height: 60px;
    padding: 5px;
    background: #0047AB;
    overflow: hidden;

    .navbar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      padding: 0px 20px;
      position: relative;
      z-index: 53;
    }

    .burger-container {
      display: inline-block;
      position: relative;
      height: 60px;
      width: 60px;
      cursor: pointer;
      transform: rotate(0deg);
      transition: all 0.3s $cubic;
      user-select: none;
      -webkit-tap-highlight-color: transparent;

   


      #burger {
        width: 28px;
        height: 12px;
        position: relative;
        display: block;
        margin: -6px auto 0;
        top: 50%;


        .bar {
          width: 100%;
          height: 2px;
          display: block;
          position: relative;
          background: #fff;
          transition: all 0.3s $cubic;
          transition-delay: 0s;

          &.topBar {
            transform: translateY(0px) rotate(0deg);
          }

          &.btmBar {
            transform: translateY(10px) rotate(0deg);
          }
        }
      }
    }

    .icon {
      display: inline-block;
      color: #fff;
      font-size: 28px;
      line-height: normal;
    }

    ul.menu {
      display: block;
      position: relative;
      padding: 10px 30px 0;
      list-style: none;
      margin: 0;
      text-align: center;
      z-index: 51;

      li.menu-item {
        border-bottom: 1px solid #333;
        margin-top: 5px;
        transform: scale(1.15) translateY(-30px);
        opacity: 0;
        transition:
          transform 0.5s $cubic,
          opacity 0.6s $cubic;

        @for $i from 1 through $menuItems {
          &:nth-child(#{$i}) {
            transition-delay: #{0.56 - ($i * 0.07)}s;
          }
        }

        a {
          display: block;
          position: relative;
          color: #fff;
          font-family: "Funnel Sans", sans-serif;
          font-weight: 200;
          text-decoration: none;
          font-size: 40px;
          line-height: 2.35;
          width: 100%;
          cursor: pointer;
        }
      }
    }

    .nav-links {
      display: none;
    }

    &.menu-opened {
      height: 100vh;
      background-color: #0047AB;
      transition:
        all 0.3s ease-in,
        background 0.5s ease-in;
      transition-delay: 0.25s;

      .burger-container {
        transform: rotate(90deg);

        #burger {
          .bar {
            transition: all 0.4s $cubic;
            transition-delay: 0.2s;

            &.topBar {
              transform: translateY(6px) rotate(45deg);
            }

            &.btmBar {
              transform: translateY(4px) rotate(-45deg);
            }
          }
        }
      }

      ul.menu {
        li.menu-item {
          transform: scale(1) translateY(0px);
          opacity: 1;

          @for $i from 1 through $menuItems {
            &:nth-child(#{$i}) {
              transition-delay: #{0.07 * $i + 0.2}s;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .navbar {
    .navbar-header {
      padding: 10px;
    }

    .burger-container {
      width: 50px;
    }

    .icon {
      font-size: 20px;
    }

    ul.menu {
      padding: 10px 20px 0;

      li.menu-item {
        a {
          font-size: 40px;
        }
      }
    }
  }
}
